body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2a2a2a; 
    color: #fff; 
}

header {
    background: #5D3FD3; 
    color: #fff;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


main {
    padding-top: 80px; 
}



.main-image {
    padding-top: 1px;
    background-color: #2a2a2a; 
    height: 600px;
    background-image: url(controller.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.titel {
    text-align: center;
    font-size: 55px;
    color: white;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif; 
    text-transform: uppercase;
    letter-spacing: 5px;
}

.newsletter {
    padding: 20px;
    text-align: center;
    color: white;
    background-color: #5D3FD3; 
}

.newsletter form {
    display: inline-block;
    margin-top: 10px;
}

.newsletter input[type="email"] {
    padding: 0.5em;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.newsletter button {
    padding: 0.5em 1em;
    border: none;
    background: #4B2BB4; 
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

.newsletter button:hover {
    background: #3A3A3A; 
}


footer {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.product-item {
    border: 1px solid #ddd;
    padding: 1em;
    margin: 1em;
    width: 200px;
    text-align: center;
    background-color: #5D3FD3; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-item:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
    background-color: #3A3A3A; 
}

.product-item h2 {
    font-size: 1.5em;
    background-color: #4B2BB4; 
    padding: 0.5em;
    margin: -1em -1em 1em -1em;
}

.product-item .price {
    font-size: 1.2em;
    background-color: #3A3A3A; 
    padding: 0.5em;
    margin: 1em 0;
}

button.add-to-cart {
    background: darkorange;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: transform 0.2s;
    
}

button.add-to-cart:hover {
    transform: scale(1.1);
}


#cart, #newsletter {
    padding: 1em;
}


.total-price {
    font-weight: bold;
}


.main-image {
    padding-top: 1px;
    background-color: #2a2a2a; 
    height: 600px;
    background-image: url(controller.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-image:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
    transform: translateY(-5px); 
}



.titel {
    text-align: center;
    font-size: 55px;
    color: white;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
}


.newsletter {
    padding: 20px;
    text-align: center;
    color: white;
    background-color: #5D3FD3; 
}

.newsletter:hover {
    box-shadow: 10px 20px 10px 20px rgba(0, 0, 0, 0.3); 
    transform: translateY(-5px); 
}


.newsletter form {
    display: inline-block;
    margin-top: 10px;
}

.newsletter input[type="email"] {
    padding: 0.5em;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

